@model SS.Models.UserModel

@{
    ViewBag.Title = "Reset Password for ";
}

<div class="modal-body">
    <div style="padding-left:21%">
        <p><strong>User:</strong> @ViewBag.userfname @ViewBag.userlname</p>
    </div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.UserID)

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div class="editor-field" style="padding-left:8%">
            <strong>New Password:</strong> @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.RoleID)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.RoleID)
            @Html.ValidationMessageFor(model => model.RoleID)
        </div>

        <p align="center">
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}