@model SS.Models.UserModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset <strong> @ViewBag.useremail</strong>'s Password</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

  

    <fieldset>
        <legend></legend>

        <div>

</div>
        <br />

        @Html.HiddenFor(model => model.UserID)

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            New Password
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>


        <div hidden="hidden" class="editor-label">
            @Html.LabelFor(model => model.RoleID)
        </div>
        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.RoleID)
            @Html.ValidationMessageFor(model => model.RoleID)
        </div>

        <p>
            <input class="btn btn-small btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}