@model SS.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

@*<h2>Change Password</h2>*@

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @*<div>  @Html.ActionLink("Back", "Index", "Home") </div>*@


    <div class="well offset3 span5 ">

    <fieldset>
        <legend>Change Password </legend>
        <p style="color:red"> @ViewBag.StatusMessage</p>

        <div class="editor-label">
            Old Password
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
        <br />

        <div class="editor-label">
            New Password
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <br />

        <div class="editor-label">
            Confirm Password
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <br />

        <p>
            <a class="btn btn-success" href="/Home">Cancel</a>
            <input class="btn btn-success" type="submit" value="Save" />
        </p>
    </fieldset>       
        </div>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}