@model SS.Models.CourseRule

@{
    ViewBag.Title = "Delete";
}

<div class="modal-body">
<fieldset>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeasonOffered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeasonOffered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomCapacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomCapacity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NeedsSpeakers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NeedsSpeakers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NeedsProjector)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NeedsProjector)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NeedsComputers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NeedsComputers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RuleFor.Department)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RuleFor.Department)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomTaughtIn.Building)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomTaughtIn.Building)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MustBeTaughtBy.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MustBeTaughtBy.FirstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-danger" value="Delete"/>
    </p>
}
</div>
